@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

    
}

.home-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 254, 254);
}

.home-head-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    margin-left: 2rem;
}

.home-head-logo img {
    height: 80%
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: azure;
    border-bottom: solid 1px rgb(211, 214, 214);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 2rem;
    margin-right: 2rem;
    align-items: center;
    font-size: large;
    list-style: none;
}
.links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: larger;
    position: relative;
}

.links a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: rgb(5, 76, 162);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.35s ease-in-out;
}

.links a:hover::after {
    width: 100%;
}

.search-bar {
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.search-bar input{
    width: 700px;
    height: 3rem;
    border-radius: 45px;
    padding: 0 16px 0 16px;
    border: solid rgb(255, 255, 255) 1px;
    box-shadow: 0 0 15px 1px rgb(77, 156, 252);
}


.search-bar button {
    width: 130px;
    height: 3rem;
    border-radius: 45px;
    padding: 0 16px 0 16px;
    background-color:  rgb(4, 77, 166);
    color: white;
    box-shadow: 0 0 15px 1px rgb(74, 107, 224);
    border: none;
}

.search-bar button:hover {
   background-color: rgb(0, 43, 96); 
}

.search-bar-container {
    display: flex;
    width: 100%;
    height: auto;
    
    background-color: rgb(73, 132, 214);
}
.main {
    flex: 1;
}

.home-footer {
    padding: 10px 0;
    bottom: 0;
}

#destinos {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    margin-right: 2rem;
    margin-left:2rem;
}

.destinos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 118px;
    align-items: flex-start;
    

}

.destinos h1{
    font-size: xx-large;
    color:  rgb(5, 76, 162);
}
.boxes {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    margin: 2rem;
}
  
  .box {
    width: 400px;
    height: 300px;
    background-color: #ccc; 
    position: relative;
    border-radius: 10px;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    cursor: pointer; 
    box-shadow: 0 0 15px 1px rgb(186, 186, 186);
  }

  
  .box-text-hover {
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    position: absolute;
    inset: 0; 
    opacity: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out; 
    text-align: justify;
}
  
  .box:hover .box-text-hover {
    opacity: 1; 
  }

  .banner_home {
    
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
  }